<mat-toolbar>
  <mat-toolbar-row>
    <span><a routerLink="accueil">accueil</a></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span><a routerLink="panier">panier</a></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span><a routerLink="connexion">connexion</a></span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >verified_user</mat-icon
    >
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span><a routerLink="inscrription">inscrription</a></span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet />
